<div class="container-fluid mt-4">
    <div class="row h-100">
        <!-- Left Column -->
        <div class="col-md-6 d-flex flex-column p-3">
            <!-- Raw Decklist Input -->
            <div class="mb-4">
                <label for="leftRawDecklist" class="form-label fw-semibold small-label">MTGO Decklist</label>
                <textarea id="leftRawDecklist" [(ngModel)]="leftDeckText" class="form-control expandable-textarea"
                    placeholder="Paste here" rows="6"></textarea>
                <button class="btn btn-primary mt-3 btn-sm" (click)="processDecklist(leftDeckText, 'left')">
                    Process Left Deck
                </button>
            </div>

            <!-- Grouped Cards -->
            <div *ngFor="let group of getGroupKeys('left')" [class.commander]="group === 'Commander'"
                [class.sideboard]="group === 'Sideboard'" class="group-container mt-3">
                <div class="group-header">
                    {{ group }}
                    <span class="group-count">{{ getGroupCount('left', group) }}</span>
                </div>
                <ul class="card-list">
                    <li *ngFor="let card of leftGroupedCards[group]" class="card-item">
                        <span>{{ card.count }}x {{ card.name }}</span>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Right Column -->
        <div class="col-md-6 d-flex flex-column p-3">
            <!-- Raw Decklist Input -->
            <div class="mb-4">
                <label for="rightRawDecklist" class="form-label fw-semibold small-label">MTGO Decklist</label>
                <textarea id="rightRawDecklist" [(ngModel)]="rightDeckText" class="form-control expandable-textarea"
                    placeholder="Paste here" rows="6"></textarea>
                <button class="btn btn-primary mt-3 btn-sm" (click)="processDecklist(rightDeckText, 'right')">
                    Process Right Deck
                </button>
            </div>

            <!-- Grouped Cards -->
            <div *ngFor="let group of getGroupKeys('right')" [class.commander]="group === 'Commander'"
                [class.sideboard]="group === 'Sideboard'" class="group-container mt-3">
                <div class="group-header">
                    {{ group }}
                    <span class="group-count">{{ getGroupCount('right', group) }}</span>
                </div>
                <ul class="card-list">
                    <li *ngFor="let card of rightGroupedCards[group]" class="card-item">
                        <span>{{ card.count }}x {{ card.name }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>