.container {
    margin-top: 80px;
    /* push down from top */
}

img {
    max-width: 336px;
    height: auto;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

.list-group-item.active {
    background-color: #0d6efd;
    color: white;
}

.input-group-container {
    position: relative;
    z-index: 1;
    /* ensure relative positioning */
}

.row img {
    max-width: 100%;
    height: auto;
}

.row h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.card-text {
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}